
header{
	width: 16rem;
	/* height: 7.325rem; */
	/* background-color: #1A6AE6; */
		position: relative;
		height: 2.1538rem;
		margin-bottom: 0.3846rem;
}
header .a1{
	margin-left: 5.0385rem;
	float: left;
	margin-top: 0.25rem;
}
header .a2 {
  width: 0.9rem;
  height: 1.9rem;
 margin-right: 0.4615rem;
 float: right;
}
header #a {
	width: 1rem;
	height: 2rem;
	cursor: pointer;
	background-image: url(../imgs/nav.png);
	background-repeat: no-repeat;
	background-position: center 0.8rem;
  }
  header #a #b {
	position: absolute;
	left: 0;
	top: 2.1538rem;
	height: 32.3077rem;
	width: 100%;
	z-index: 3;
	background: white;
	display: none;
  }
  header #a #b ul {
	width: 7.3077rem;
	height: 100%;
	margin: 0 auto;
	padding-top: 3.8462rem;
	box-sizing: border-box;
  }
  header #a #b ul li {
	text-align: center;
	margin-bottom: 2rem;
	font-style: 0.9231rem;
	color: #075FE5;
	font-style: "黑体";
	font-weight: bold;
  }
  header #a #b ul li:nth-last-of-type(1) {
	display: flex;
	padding-top: 3rem;
	box-sizing: border-box;
	margin-left: 0.5rem;
  }
  header #a #b ul li:nth-last-of-type(1) .photo {
	width: 1.6538rem;
	height: 1.6538rem;
	font-size: 0;
	margin-right: 0.5rem;
  }
  header #a #b ul li:nth-last-of-type(1) .photo img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
  }
  header #a #b ul li:nth-last-of-type(1) .number {
	width: 5rem;
	height: 1.6923rem;
	font-size: 0;
  }
  header #a #b ul li:nth-last-of-type(1) .number p {
	font-size: 0.6154rem;
	color: #2778E6;
	font-style: "宋体";
	line-height: 1rem;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
  }
.banner{
	width: 16rem;
}
.banner img{
	width: 100%;
	height: 100%;
	position: relative;
}
.gl{
	position: relative;
}
.gonglue .p1{
	width: 3.461538rem;
	height: 3.461538rem;
	font-size: 0.653846rem;
	color: #FFFFFF;
	text-align: center;
	background-color:#1A6AE6 ;
	position: absolute;
	bottom:-0.692307rem; left:0.5rem;
}
.gonglue .p1 span{
	display: block;
	text-align: center;
	/* margin-bottom: 0.5rem; */
	line-height: 1.7rem;
}
.gonglue .p2{
	background: url(../imgs/snajiao.gif) no-repeat left center;
	margin:0.961538rem 0 0 5rem;

	font-size: 0.375rem;
		
}
.nav{
	height: 1.461538rem;
	width: 15.465138rem;
	margin-top: 0.976923rem;
	border-bottom: 0.025rem solid #EBEBEB;
	margin-bottom:0.961538rem ;
	padding-left: 0.461538rem;
}
.nav li{
	font-weight: bold;
	float: left;
	font-size:0.576923rem;
	line-height: 1.5rem;
	margin-right: 1.26923rem;
}
.nav .active{
	color: #1A6AE6;
	border-bottom: 0.05rem solid #1B6BE6 ;
}
.xuanze{
	width: 15.923076rem;
	height: 4.807692rem;
}
.xuanze li{
	width: 4.615384rem;
	height: 1.538461rem;
	font-size: 0.615384rem;
	background-color: #F3F3F3;
	float: left;
	margin-left:0.576923rem ;
	margin-bottom: 0.576923rem;
	text-align: center;
	line-height: 1.538461rem;
}
.xuanze li a{
	color: #000000;
}
.xuanze .active{
	background-color: #1B69E6;
	color: #FFFFFF;
}
.xuanze :hover{
	background-color: #1B69E6;
	color: #FFFFFF;
}
.content{
	margin:0.692307rem;
}
.content img{
	width: 14.538461rem;
	height: 8.653846rem;
}
.content li{
	width: 14.538461rem;
	height: 14.153846rem;
	background-color: #F3F4F8;
	margin-bottom: 0.961538rem;
}
.content p span{
	display: block;
	height: 1.923076rem;
	line-height: 1.923076rem;
	font-size: 0.461538rem;
	color: #BBBBBD;
}
.content p{
	width: 12.923076rem;
	line-height:0.961538rem;
	font-size: 0.615384rem;
	padding-left: 0.76923rem;
}
.tubiao{
	position: absolute;
	bottom:-20rem;left:12.9rem;
}
.tubiao li{
	margin-top: 0.15rem;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 0.3rem;
	text-align: center;
	color: #fff;
	background-color: #075FE4;
}
.tubiao .li1 span{
	background: url(../imgs/erji.gif) no-repeat 0.6rem;
}
.tubiao .li3 span{
	background: url(../imgs/erweima.gif) no-repeat 0.6rem;
}
.tubiao .li4 {
	width: 2.5rem;
	height: 1.25rem;
}
.tubiao img{
	margin-top: 0.25rem;
}
.tubiao li span{
	width: 1.7rem;
	height: 1.5rem;
	display: block;
	background: url(../imgs/dianhua.gif) no-repeat 0.6rem;
}
.yeshu{
	text-align: center;
	width: 15.923076rem;
}
.yeshu li{
	width: 3.461538rem;
	height: 1.346153rem;
	color: #fff;
	line-height: 1.346153rem;
     text-align: center;
	font-size:0.538461rem;
	display: inline-block;
	background-color: #075FE4;
}
.foot{
	width: 15.9231rem;
	height: 4.2308rem;
	margin-top: 1.5rem;
	padding: 0.6154rem 0.4615rem 0 0.4615rem;
	box-sizing: border-box;
	background: #4A4A4A;
}
.foot li{
	height: 1.0769rem;
	font-size: 0.5385rem;
	color: #BFBEBE;
}